[submodule "gem5"]
	path = gem5
	url = https://github.com/radhaksri/gem5.git
	branch = mi300-xnack+
[submodule "qemu"]
	path = qemu
	url = git@github.com:zevorn/qemu.git
	branch = cosim-gpu
[submodule "gem5-resources"]
	path = gem5-resources
	url = https://github.com/gem5/gem5-resources.git
	branch = stable
